<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand mx-auto" href="#"> BURGER </a>
    </div>
</nav>

<main class="container-fluid">
    <div class="row">
        <aside class="container-fluid col-4 bg-dark rounded mt-2">
            <h2 class="text-center text-white"> Burgers to Devour </h2>
            <ul>
                {{#each burgers }}
                {{#unless devoured}}
                <div type="button" class=" card mx-auto bg-active mt-2 btn-outline-danger change-eaten"
                    data-id="{{id}}">
                    <div class="card-body">
                        {{burger_name}}
                    </div>
                </div>
                {{/unless}}
                {{/each}}
            </ul>
        </aside>
        <div class="container-fluid col-1">
            <br><br><br>
        </div>
        <aside class="container-fluid col-4 bg-dark rounded mt-2">
            <h2 class="text-center text-white"> Devoured </h2>
            <ul>
                {{#each burgers }}
                {{#if devoured}}
                <div class=" card mx-auto bg-active mt-2 bg-success">
                    <div class="card-body">
                        {{burger_name}}
                    </div>
                </div>
                {{/if}}
                {{/each}}
            </ul>
        </aside>
        <div class="row">
            <form class="create-form container col-3">
                <h3 class="text-center text-white">Enter a Burger to be Devoured</h3>
                <div class="form-group">
                    <input class="form-control" id="new" name="burger_name" rows="4"
                        placeholder="enter your new burger here..." />
                    <button type="submit" class="btn btn-danger btn-lg mt-3 mx-auto">ADD</button>
                </div>
                <h3 class="text-center">Click on a burger to devour it!</h3>
            </form>
        </div>
    </div>
</main>